</div>
<div class="jumbotron">
<h1>List of all authors</h1>
</div>

<img style="display: none;" src="https://i.redd.it/ounq1mw5kdxy.gif"/>
<ul>
	<div class="authors">
		<% @authors.each do |author| %>
			<%= render 'author', author: author %>
		<% end %>
	</div>

</ul>
<hr />
<!-- <div class="col"><%= link_to 'New author', new_author_path, role: 'button', class: 'btn btn-success' %></div> -->

<%= form_for @author, remote: true, html: { class: 'new-author' } do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>
	<hr />
	<%= f.label :surname %>
	<%= f.text_field :surname %>
	<hr />
	<%= f.label :age %>
	<%= f.number_field :age %>
	<hr />
	<%= f.submit 'Save' %>	
<% end %>