<h1 class="jumbotron">
	<%= @author.fullname %>
</h1>

<div class="containter authors-display">
	<p>
		<strong>Age:</strong>		
		<%= @author.age %>
		<hr />
		<strong>Created at:</strong>		
		<%= @author.created_at %>
		<hr />
		<strong>Updated at:</strong>		
		<%= @author.updated_at %>
	</p>

	<%= link_to 'Back to authors', authors_path %>
	<br />
	<%= link_to 'Back to posts', posts_path %>
</div>
