<h1>
	<%= @author.fullname %>
</h1>

<p>
	Age:
	<%= @author.age %>
	<hr />
	Created at:
	<%= @author.created_at %>
	<hr />
	Updated at:
	<%= @author.updated_at %>
</p>
<%= link_to 'Back to authors', authors_path %>
<br />
<%= link_to 'Back to posts', posts_path %>