<% if @commenter.errors.any? %>
<ul>
	<% @commenter.errors.full_messages.each do |msg| %>
	<li>
		<%= msg %>
	</li>
	<% end %>
</ul>
<% end %>

<hr />

<%= form_for @commenter, remote: true, html: { class: 'new-commenter' } do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>
	<hr />
	<%= f.label :surname %>
	<%= f.text_field :surname %>
	<hr />
	<%= f.submit 'Save' %>	
<% end %>