<div class="jumbotron">
	<h1>List of all commenters</h1>
</div>

<img style="display: none;" src="https://i.redd.it/ounq1mw5kdxy.gif"/>
<ul>
	<div class="commenters">
		<% @commenters.each do |commenter| %>
			<%= render 'commenter', commenter: commenter %>
		<% end %>
	</div>	
</ul>
<hr />

<%= form_for @commenter, remote: true, html: { class: 'new-commenter' } do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>
	<hr />
	<%= f.label :surname %>
	<%= f.text_field :surname %>
	<hr />
	<%= f.submit 'Save' %>	
<% end %>

<!-- <ul>
	<% @commenters.each do |commenter| %>
		<li>
			<%= link_to commenter.commenter_info, commenter_path(id: commenter.id) %>
			<%= link_to 'Edit', edit_commenter_path(id: commenter.id) %>
			<%= link_to 'Destroy', commenter_path(id: commenter.id), method: :delete, data: { confirm: 'Are you sure?' } %>
		</li>
	<% end %>
</ul>
<hr />
<%= link_to 'New commenter', new_commenter_path %> -->