<h1 class="jumbotron">
	<%= @commenter.commenter_info %>
</h1>


<div class="containter commenters-display">
	<p>
		<strong>Name:</strong>		
		<%= @commenter.name %>
		<hr />
		<strong>Surname:</strong>
		<%= @commenter.surname %>
		<hr />
	</p>

	<%= link_to 'Back to commenters', commenters_path %>
	<br />
	<%= link_to 'Back to authors', authors_path %>
	<br />
	<%= link_to 'Back to posts', posts_path %>
</div>
