<% if @post.errors.any? %>
<ul>
	<% @post.errors.full_messages.each do |msg| %>
	<li>
		<%= msg %>
	</li>
	<% end %>
</ul>
<% end %>

<%= form_for @post do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title %>
	<hr />
	<%= f.label :content %>
	<%= f.text_field :content %>
	<hr />
	<%= f.label :author_id %>
	<%= collection_select(:post, :author_id, Author.all, :id, :fullname, prompt: false) %>
	<hr />
	<%= f.submit 'Save' %>	
<% end %>