<div class="jumbotron">
	<h1><%= @post.title %></h1>
</div>
<div class="posts-display">
	<p>
	<strong>Title:</strong>	
	<%= @post.title %>
	<hr />
	<strong>Content:</strong>	
	<%= @post.content %>
	<hr />
	<strong>Author name:</strong>	
	<%= link_to @post.author.fullname, author_path(@post.author_id) %>
	<hr />
	<strong>Created at</strong>	:
	<%= @post.created_at %>
	<hr />
	<strong>Updated at:</strong>	
	<%= @post.updated_at %>
	</p>
</div>


<div class="jumbotron">
	<h2>Comments</h2>
</div>
<div class="posts-display">
	<% @post.comments.each do |comment| %>
		<p>
		<strong>Body:</strong>
		<%= comment.body %>
		<br />
		<strong>Commenter:</strong>
		<%= link_to comment.commenter.commenter_info, commenter_path(comment.commenter_id) %>
		<br />
		<%= link_to 'Destroy', [comment.post, comment], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'%>
		</p>
	<% end %>
</div>

<div class="jumbotron">
	<h2>Add new comment</h2>
</div>

<div class="posts-display">
	<%= render 'comments/form', remote: true, html: { class: 'new-comment' } %>
	<%= link_to 'Back to posts', posts_path %>
</div>