<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- <a class="navbar-brand" href="#">Navbar</a> -->
  <%= link_to root_path do %>
 	 <%= image_tag 'blog.png', size: "30x30" %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/posts">Posts <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Authors
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" >
            <% Author.all.each do |author| %>
            <%= link_to author.fullname, author_path(author.id), class: 'dropdown-item', "data-author-id": author.id  %>
            <% end %>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item">
            <%= link_to 'Index', authors_path, class: 'dropdown-item' %>
          </a>
        </div>
      </li>
      <li class="nav-item active dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Commenters
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" >
            <% Commenter.all.each do |commenter| %>
            <%= link_to commenter.commenter_info, commenter_path(commenter.id), class: 'dropdown-item', "data-commenter-id": commenter.id  %>
            <% end %>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item">
            <%= link_to 'Index', commenters_path, class: 'dropdown-item' %>
          </a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<!--
<div>
	<%= link_to 'Home', root_path %>
    <%= link_to 'Authors', authors_path %>
    <%= link_to 'Posts', posts_path %>
    
</div>
-->